<div class="text-center m-3">
<h1> <%= @list.name %> </h1>
</div>


<div class= "container">
<div class="row">
  <% @list.bookmarks.each do |bookmark| %>
<div class="card-product col-12 col-sm-6 col-md-4 mb-3 direction-column">
    <%=bookmark.movie.title%>
    <%=bookmark.movie.overview%>
    <%=bookmark.movie.rating.to_f%>
    <img class="fit-picture" src="<%=bookmark.movie.poster_url%>">
    <%= bookmark.comment%>
<div>
  <% end %>
</div>
<%# <%= link_to "Add a  movie", new_list_bookmark_path(@list)%> %>

</div>
<%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.association :movie, collection: Movie.where.not(id: @list.movies.ids),  prompt: "Select a movie" %>
          <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
          <%= f.submit class: "btn btn-flat" %>
        <% end %>
